@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FFFFFF;
  --foreground: #EEF0F2;
  --primary: rgb(252, 213, 53);
}

.dark {
  --background: #181A20;
  --foreground: #2B3139;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  
  @apply text-black dark:text-white
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
